.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .shopping-cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
}
